<html>
    <head>

    </head>
    <body>
        
        <br> <br>

        <div id="main">
            <div id="row1" >
                <div>
                    <table>
                        <tr>
                            <td>Dashboard</td>
                        </tr>
                        <tr>
                            <td>News Feed</td>
                        </tr>
                        <tr>
                            <td>Inbox</td>
                        </tr>
                        <tr>
                            <td>Tasks</td>
                        </tr>
                    </table>

                    <br>

                    <table>
                        <tr>
                            <td>Buttons</td>
                        </tr>
                        <tr>
                            <td>Typography</td>
                        </tr>
                        <tr>
                            <td>Forms</td>
                        </tr>
                        <tr>
                            <td>Tables</td>
                        </tr>
                        <tr>
                            <td>Charts</td>
                        </tr>
                    </table>

                    <br>

                    <table>
                        <tr>
                            <td>More Pages</td>
                        </tr>
                        <tr>
                            <td>Logout</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="row2" style="float: left">

                <div style="float: left;">

                    <div class="card" style="width: 21rem; height: 12rem;">
                        <div class="card-body">
                            <h5 class="card-title">Medication</h5>
                           
                            <a href="#" class="card-link">View All Medication</a>
                        </div>
                    </div>

                    <br> <br>

                    <div class="card" style="width: 21rem; height: 12rem;">
                        <div class="card-body">
                            <h5 class="card-title">Allergies</h5>
                            <ul>
                                <li>Penecilin</li>
                                <li>Peanuts</li>
                            </ul>
                            <a href="#" class="card-link">View All Allergies</a>
                        </div>
                    </div>

                </div>

                <div id="right_row" style="float: left;">

                        <div class="card" style="width: 21rem; height: 12rem;">
                            <div class="card-body">
                                <h5 class="card-title">Diagnoses</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">View All Diagnoses</a>
                            </div>
                        </div>
    
                        <br> <br>
    
                        <div class="card" style="width: 21rem; height: 12rem;">
                            <div class="card-body">
                                <h5 class="card-title">Labs & Vaccines</h5>
   
                                <a href="#" class="card-link">View All Labs & Vaccines</a>
                            </div>
                        </div>
                </div>
                <div style="float: right; padding-right: 42px;">
                        <div class="card" style="width: 22rem; height: 35rem;">
                                <div `class="card-body" style="padding: 10px;">
                                    <h5 class="card-title">Patient Name</h5>
                                    <p class="card-text">Date of Birth: </p>
                                    <p class="card-text">Age: </p>
                                    <p class="card-text">Gender: </p>
                                    <p class="card-text">Current Address: </p>
                                    <p class="card-text">Phone Number: </p>
                                    <p class="card-text">Last Consultation: </p>
                                    <a href="#" class="card-link">View Full Medical History</a>
                                </div>
                            </div>
                </div>

            </div>
        </div>

    </body>

    <style>

        #patient {
            height: 200px;
        }
 
        .card {
            border-radius: 5px;
        }
        #right_row {
            padding-left: 30px;
        }
        #row1 {
            padding-left: 20px;
            width: 25%;
            float: left;
        }
        #row2 {
            width: 75%;
            padding-left: 30px;
        }
        table, td {
            width: 100%;
            border-bottom: 1px solid grey;
            background-color: #282828;
            color: grey;
            padding-left: 20px;
            border-radius: 5px;
        }

        td {
            height: 50px;
        }
        table {
            border-radius: 25px;
        }
    </style>

    <script>
        $("td").mouseover(function() {
            $(this).css('background-color', "#404040");
            $(this).css('color', "black"); 
        });
        $("td").mouseleave(function() {
            $(this).css('background-color', "#282828");
            $(this).css('color', "grey");
        });
    </script>
</html>