<html>
    <head>

    </head>
    <body>
        <br> <br>

        <div id="main">
            <div id="row1" >
                <div>
                    <table>
                        <tr>
                            <td>Dashboard</td>
                        </tr>
                        <tr>
                            <td>News Feed</td>
                        </tr>
                        <tr>
                            <td>Inbox</td>
                        </tr>
                        <tr>
                            <td>Tasks</td>
                        </tr>
                    </table>

                    <br>

                    <table>
                        <tr>
                            <td>Buttons</td>
                        </tr>
                        <tr>
                            <td>Typography</td>
                        </tr>
                        <tr>
                            <td>Forms</td>
                        </tr>
                        <tr>
                            <td>Tables</td>
                        </tr>
                        <tr>
                            <td>Charts</td>
                        </tr>
                    </table>

                    <br>

                    <table>
                        <tr>
                            <td>More Pages</td>
                        </tr>
                        <tr>
                            <td>Logout</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="row2" style="float: left">

                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>

                    <br> <br>

                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>

            </div>
        </div>

    </body>

    <style>
 
        #row1 {
            padding-left: 20px;
            width: 25%;
            float: left;
        }
        #row2 {
            width: 75%;
            padding-left: 35px;
        }
        table, td {
            width: 100%;
            border-bottom: 1px solid grey;
            background-color: black;
            color: grey;
            padding-left: 20px;
        }
        td {
            height: 50px;
        }
    </style>
</html>